<!--
  but : vue film
  Auteur : Matteo Leonetti
  Date : 04.05.2023
  Version : 1.0
-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ajouter un avis !</h1>
<div>
    <label class="labelavis" for="avis">Laissez votre avis :</label>
    <textarea class="textareaAvis" id="avis" name="avis" rows="4" cols="50"></textarea>
</div>
<a><button class="btn2" id="mySuperButton" onclick="ctrl_avis.ajoutAvis()">Valider</button></a>
</body>
</html>

