<!--
  but : vue film
  Auteur : Matteo Leonetti
  Date : 04.05.2023
  Version : 1.0
-->
<!DOCTYPE html>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Inscription</h3>
                </div>
                <div class="card-body">

                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" class="form-control" name="username" id="usernameInscription"placeholder="Entrez votre nom d'utilisateur">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" name="password" id="passwordInscription" placeholder="Entrez votre mot de passe">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" onclick="ctrl_index.sinscrire()">S'inscrire</button>
                        <div>
                            <a onclick="wrk_index.chargerVue('login')"><label>Déjà un compte ? Connectez-vous</label></a>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
