/Code/Service_Rest_2/nbproject/private/
/Code/Luca/Service_Rest/nbproject/private/
/Code/Luca/Service_Rest/build/
/Code/Matteo/Service_Rest/nbproject/private/
/Code/Matteo/Service_Rest/build/
/Code/Luca/Service_Rest/dist/
/Code/Luca/WebApplication1/nbproject/private/
/Code/Luca/Douanier/nbproject/private/
/Code/Luca/Douanier/build/
/Code/Luca/Douanier/dist/
/Code/Matteo/Service_Rest/dist/
/Code/Service_Client/Service_Client/nbproject/private/
